# RAWG API
# Get your key from: https://rawg.io/apidocs 
#YO SE LAS PASO POR DS
VITE_RAWG_API_KEY=

# App metadata
VITE_APP_NAME=ChickenThiefGames
VITE_APP_DESCRIPTION=Portal de videojuegos desarrollado con Vue para Taller de RIA

# RAWG base configuration
VITE_RAWG_API_BASE_URL=https://api.rawg.io/api
VITE_RAWG_PAGE_SIZE=20

# Optional UI defaults
VITE_DEFAULT_THEME=light
VITE_DEFAULT_LANGUAGE=es
